.quick-filters-section>ul {
  padding-left: 0;
}

.quick-filters-section>ul>li {
  padding: 10px 10px 10px 0;
}

.quick-filters-section>ul>li button {
  padding: 8px 12px;
  background-color: #fff;
  border: 1.5px solid #c9c7c7;
  font-size: 12px;
}

.quick-filters-section>ul>li button:hover {
  border: 1px solid #333;
  box-shadow: 1px 1px 5px #333;
}

.quick-filters-section .quick-filters > li .quick-filter-selected-btn {
  background-color: #000;
  color: #fff;
  border-color: #000
}